USE [master]
GO
/****** Object:  Database [QLDSV]    Script Date: 12/26/2020 8:44:07 PM ******/
CREATE DATABASE [QLDSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDSV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLDSV.mdf' , SIZE = 20480KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLDSV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLDSV_log.ldf' , SIZE = 11200KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDSV]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 12/26/2020 8:44:07 PM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_518507E052DB4BAB84AFDD532AED7147]    Script Date: 12/26/2020 8:44:07 PM ******/
CREATE ROLE [MSmerge_518507E052DB4BAB84AFDD532AED7147]
GO
/****** Object:  DatabaseRole [MSmerge_49CAF31A5FC04D59BEA1D545FFBDCB42]    Script Date: 12/26/2020 8:44:07 PM ******/
CREATE ROLE [MSmerge_49CAF31A5FC04D59BEA1D545FFBDCB42]
GO
/****** Object:  DatabaseRole [MSmerge_2747E08E95584B0E9B44B197F9EC247E]    Script Date: 12/26/2020 8:44:07 PM ******/
CREATE ROLE [MSmerge_2747E08E95584B0E9B44B197F9EC247E]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_518507E052DB4BAB84AFDD532AED7147]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_49CAF31A5FC04D59BEA1D545FFBDCB42]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_2747E08E95584B0E9B44B197F9EC247E]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 12/26/2020 8:44:07 PM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  Table [dbo].[CT_DONGHOCPHI]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_DONGHOCPHI](
	[MASV] [char](12) NOT NULL,
	[NIENKHOA] [nvarchar](50) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[NGAYDONG] [date] NOT NULL,
	[SOTIENDONG] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_73114F4D9AD44F3C883E65B0592E1A1F]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_CT_DONGHOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC,
	[NGAYDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIEM](
	[MASV] [char](12) NOT NULL,
	[MAMH] [char](6) NOT NULL,
	[LAN] [smallint] NOT NULL,
	[DIEM] [float] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_D19435407B4244C9B55D985649655E6A]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_DIEM] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAMH] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[MAKH] [char](4) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_1818AC343FDF4FC690B80C1200237506]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOCPHI]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOCPHI](
	[MASV] [char](12) NOT NULL,
	[NIENKHOA] [nvarchar](50) NOT NULL,
	[HOCKY] [int] NOT NULL CONSTRAINT [DF_HOCPHI_HOCKY]  DEFAULT ((1)),
	[HOCPHI] [int] NOT NULL CONSTRAINT [DF_HOCPHI_HOCPHI]  DEFAULT ((6000000)),
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_9DC358E1D30544868107988500DD25A9]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_HOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKH] [char](4) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_02BB96723B454B0293EB73CED5184A28]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [char](8) NOT NULL,
	[TENLOP] [nvarchar](200) NULL,
	[MAKH] [char](4) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_D411E59826E74A58A0EAF2F14D3C87E2]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [char](6) NOT NULL,
	[TENMH] [nvarchar](40) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_F08428615F97453D83DEA27B44D8EB20]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [char](12) NOT NULL,
	[HO] [nvarchar](40) NULL,
	[TEN] [nvarchar](10) NULL,
	[MALOP] [char](8) NOT NULL,
	[PHAI] [bit] NULL,
	[NGAYSINH] [datetime] NULL,
	[NOISINH] [nvarchar](40) NULL,
	[DIACHI] [nvarchar](80) NULL,
	[GHICHU] [ntext] NULL,
	[NGHIHOC] [bit] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_76C67B9C92374706AECA91E249ED2217]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[V_DS_PHANMANH]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_PHANMANH] AS
SELECT PUBS.description AS TENCN, SUBS.subscriber_server AS TENSERVER
FROM     dbo.sysmergepublications AS PUBS INNER JOIN
                  dbo.sysmergesubscriptions AS SUBS ON PUBS.pubid = SUBS.pubid AND PUBS.publisher <> SUBS.subscriber_server
GO
/****** Object:  View [dbo].[V_GETDSGV]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_GETDSGV] AS
SELECT MAGV, HO+' '+ TEN AS N'HO TEN' FROM dbo.GIANGVIEN
where not exists ((select name from sys.sysusers where name = MAGV) 
union (select name from link1.QLDSV.sys.sysusers where name = MAGV) 
union (select name from link2.QLDSV.sys.sysusers where name = MAGV))
GO
INSERT [dbo].[CT_DONGHOCPHI] ([MASV], [NIENKHOA], [HOCKY], [NGAYDONG], [SOTIENDONG], [rowguid]) VALUES (N'08VTA101    ', N'2010-2011', 1, CAST(N'2020-12-22' AS Date), 5000000, N'5108ca54-0744-eb11-ba74-402cf4fe0685')
INSERT [dbo].[CT_DONGHOCPHI] ([MASV], [NIENKHOA], [HOCKY], [NGAYDONG], [SOTIENDONG], [rowguid]) VALUES (N'N17DCCN157  ', N'2017-2018', 1, CAST(N'2020-12-22' AS Date), 5000000, N'31cc69c3-0544-eb11-ba74-402cf4fe0685')
INSERT [dbo].[CT_DONGHOCPHI] ([MASV], [NIENKHOA], [HOCKY], [NGAYDONG], [SOTIENDONG], [rowguid]) VALUES (N'N17DCCN157  ', N'2018-2019', 1, CAST(N'2020-12-22' AS Date), 10000000, N'65c4bdcf-0544-eb11-ba74-402cf4fe0685')
INSERT [dbo].[DIEM] ([MASV], [MAMH], [LAN], [DIEM], [rowguid]) VALUES (N'N17DCCN111  ', N'LTCB  ', 1, 9, N'7a6ba215-5a46-eb11-ba74-402cf4fe0685')
INSERT [dbo].[DIEM] ([MASV], [MAMH], [LAN], [DIEM], [rowguid]) VALUES (N'N17DCCN157  ', N'AV    ', 1, 3, N'a51cd107-7846-eb11-ba75-402cf4fe0685')
INSERT [dbo].[DIEM] ([MASV], [MAMH], [LAN], [DIEM], [rowguid]) VALUES (N'N17DCCN157  ', N'AV    ', 2, 8, N'18dbac1a-7846-eb11-ba75-402cf4fe0685')
INSERT [dbo].[GIANGVIEN] ([MAGV], [HO], [TEN], [MAKH], [rowguid]) VALUES (N'GV01      ', N'NGUYỄN HỒNG', N'SƠN', N'CNTT', N'1e2b12c6-f643-eb11-ba74-402cf4fe0685')
INSERT [dbo].[GIANGVIEN] ([MAGV], [HO], [TEN], [MAKH], [rowguid]) VALUES (N'GV02      ', N'TRƯƠNG ĐÌNH', N'HUY       ', N'CNTT', N'1f2b12c6-f643-eb11-ba74-402cf4fe0685')
INSERT [dbo].[GIANGVIEN] ([MAGV], [HO], [TEN], [MAKH], [rowguid]) VALUES (N'GV03      ', N'NGUYEN XUAN', N'KHANH     ', N'VT  ', N'202b12c6-f643-eb11-ba74-402cf4fe0685')
INSERT [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY], [HOCPHI], [rowguid]) VALUES (N'08VTA101    ', N'2010-2011', 1, 5000000, N'bf5a1c4b-0744-eb11-ba74-402cf4fe0685')
INSERT [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY], [HOCPHI], [rowguid]) VALUES (N'N17DCCN157  ', N'2017-2018', 1, 11000000, N'61f91d98-0544-eb11-ba74-402cf4fe0685')
INSERT [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY], [HOCPHI], [rowguid]) VALUES (N'N17DCCN157  ', N'2018-2019', 1, 10000000, N'd64782a2-0544-eb11-ba74-402cf4fe0685')
INSERT [dbo].[KHOA] ([MAKH], [TENKH], [rowguid]) VALUES (N'CNTT', N'Công nghệ thông tin', N'142b12c6-f643-eb11-ba74-402cf4fe0685')
INSERT [dbo].[KHOA] ([MAKH], [TENKH], [rowguid]) VALUES (N'VT  ', N'Viễn thông', N'152b12c6-f643-eb11-ba74-402cf4fe0685')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'D08VTA1 ', N'Đại học chính qui 1  Viễn thông Khóa 2008', N'VT  ', N'252b12c6-f643-eb11-ba74-402cf4fe0685')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'D09VTA1 ', N'Đại học chính qui 1  Viễn thông Khóa 2009', N'VT  ', N'262b12c6-f643-eb11-ba74-402cf4fe0685')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'D15CQCN1', N'Đại học chính qui 1  ngành Hệ thống thông tin Khóa 2015', N'CNTT', N'242b12c6-f643-eb11-ba74-402cf4fe0685')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'AV    ', N'Anh Van', N'ba9f7786-7746-eb11-ba75-402cf4fe0685')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'AV1   ', N'ANH VAN 1', N'99ddacfd-bc46-eb11-ba75-402cf4fe0685')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'CSDL  ', N'Cơ sở dữ liệu', N'172b12c6-f643-eb11-ba74-402cf4fe0685')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [MALOP], [PHAI], [NGAYSINH], [NOISINH], [DIACHI], [GHICHU], [NGHIHOC], [rowguid]) VALUES (N'08VTA101    ', N'Nguyễn Thanh', N'Hằng', N'D08VTA1 ', 1, CAST(N'1975-12-07 00:00:00.000' AS DateTime), N'Ha Noi', N'12 Hàng Sách', N' ', 0, N'272b12c6-f643-eb11-ba74-402cf4fe0685')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [MALOP], [PHAI], [NGAYSINH], [NOISINH], [DIACHI], [GHICHU], [NGHIHOC], [rowguid]) VALUES (N'08VTA102    ', N'Võ Văn', N'Phát', N'D08VTA1 ', 1, CAST(N'1976-05-05 00:00:00.000' AS DateTime), N'Phu Yen', N'Phan Bội Châu', N' ', 0, N'282b12c6-f643-eb11-ba74-402cf4fe0685')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [MALOP], [PHAI], [NGAYSINH], [NOISINH], [DIACHI], [GHICHU], [NGHIHOC], [rowguid]) VALUES (N'N15DCCN1    ', N'Tran Nguyen', N'Minh', N'D15CQCN1', 1, CAST(N'1995-06-19 00:00:00.000' AS DateTime), N'Phu Yen', N'23 Bình Da', N' ', 0, N'2c2b12c6-f643-eb11-ba74-402cf4fe0685')
/****** Object:  Index [MSmerge_index_245575913]    Script Date: 12/26/2020 8:44:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_245575913] ON [dbo].[CT_DONGHOCPHI]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_277576027]    Script Date: 12/26/2020 8:44:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_277576027] ON [dbo].[DIEM]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_309576141]    Script Date: 12/26/2020 8:44:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_309576141] ON [dbo].[GIANGVIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_341576255]    Script Date: 12/26/2020 8:44:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_341576255] ON [dbo].[HOCPHI]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_373576369]    Script Date: 12/26/2020 8:44:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_373576369] ON [dbo].[KHOA]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_TENLOP]    Script Date: 12/26/2020 8:44:07 PM ******/
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [UK_TENLOP] UNIQUE NONCLUSTERED 
(
	[TENLOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_405576483]    Script Date: 12/26/2020 8:44:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_405576483] ON [dbo].[LOP]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_MONHOC]    Script Date: 12/26/2020 8:44:07 PM ******/
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [IX_MONHOC] UNIQUE NONCLUSTERED 
(
	[TENMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_437576597]    Script Date: 12/26/2020 8:44:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_437576597] ON [dbo].[MONHOC]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_469576711]    Script Date: 12/26/2020 8:44:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_469576711] ON [dbo].[SINHVIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI] FOREIGN KEY([MASV], [NIENKHOA], [HOCKY])
REFERENCES [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY])
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] CHECK CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_MONHOC1] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_MONHOC1]
GO
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [FK_DIEM_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_SINHVIEN]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_HOCPHI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [FK_HOCPHI_SINHVIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA1] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA1]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_DIEM_DIEM] CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [CK_DIEM_DIEM]
GO
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_DIEM_LAN] CHECK  (([LAN]=(1) OR [LAN]=(2)))
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [CK_DIEM_LAN]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKHOCPHISINHVIEN]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKHOCPHISINHVIEN] @MASV CHAR(12)
AS
 BEGIN
--Kiểm tra trong table sinh viên của server 2
 IF EXISTS ( SELECT 1
 FROM LINK2.QLDSV.dbo.HOCPHI HP
 WHERE HP.MASV = @MASV )
 BEGIN
 RETURN 1; -- mã sinh viên tồn tại ở server 2
 END;
 RETURN 0;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKMASINHVIENCHUYENLOP]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKMASINHVIENCHUYENLOP] @MASV CHAR(12)
AS
 BEGIN
 IF ( EXISTS ( SELECT MASV
 FROM SINHVIEN
WHERE MASV = @MASV ) )
 BEGIN
 RAISERROR ('MA SINH VIEN DA BI TRUNG', 16,1);
 RETURN;
 END;
 ELSE
 IF ( EXISTS ( SELECT MASV
 FROM LINK1.QLDSV.dbo.SINHVIEN
 WHERE MASV = @MASV ) )
 BEGIN
 RAISERROR ('MA SINH VIEN DA BI TRUNG ', 16,1);
 RETURN;
 END;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKSINHVIENCODIEM]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKSINHVIENCODIEM] @MASV CHAR(12)
AS
 BEGIN
 IF EXISTS ( SELECT MASV
 FROM dbo.DIEM
 WHERE MASV = @MASV )
 RETURN 1;
 ELSE
 IF EXISTS ( SELECT D.DIEM
 FROM LINK1.QLDSV.dbo.DIEM D
 WHERE D.MASV = @MASV )
 RETURN 1;
 ELSE
 RETURN 0;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKSINHVIENTONTAITRONGLOP]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKSINHVIENTONTAITRONGLOP]
 @MALOP CHAR(8) ,@MASV CHAR(12)
AS
	 BEGIN
	 IF ( EXISTS ( SELECT MASV FROM SINHVIEN WHERE MALOP = @MALOP AND MASV = @MASV AND NGHIHOC = 1 ) )
		RETURN 1;
	 ELSE
		 IF ( EXISTS ( SELECT MASV FROM LINK1.QLDSV.dbo.SINHVIEN WHERE MALOP = @MALOP AND MASV = @MASV AND NGHIHOC = 1 ) )
			RETURN 1;
		 ELSE
			RETURN 0;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKTHAYDOISINHVIENCHUYENLOP]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKTHAYDOISINHVIENCHUYENLOP] @MASV NVARCHAR(50)
AS
 BEGIN
 DECLARE @RET1 INT;
 DECLARE @RET2 INT;
 EXEC @RET1= SP_CHECKSINHVIENCODIEM @MASV;
 EXEC @RET2= SP_CHECKHOCPHISINHVIEN @MASV;
 IF ( @RET1 = 1
 OR @RET2 = 1
 )
 BEGIN
 UPDATE SINHVIEN
 SET NGHIHOC = 1
 WHERE MASV = @MASV;
 END;
 ELSE
 BEGIN
 DELETE FROM SINHVIEN
 WHERE MASV = @MASV;
 END;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKTRUNGMALOP]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKTRUNGMALOP]
 @MALOP CHAR(8) ,
 @TENLOP NVARCHAR(50)
AS
 BEGIN
 IF EXISTS ( SELECT *
 FROM dbo.LOP
 WHERE dbo.LOP.MALOP = @MALOP
 OR LOP.TENLOP = @TENLOP )
 BEGIN
 RETURN 1;
 END;
 IF EXISTS ( SELECT *
 FROM LINK1.QLDSV.dbo.LOP
 WHERE LOP.MALOP = @MALOP
 OR LOP.TENLOP = @TENLOP )
 BEGIN
 RETURN 1;
 END;
 RETURN 0;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKTRUNGMASV]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKTRUNGMASV] @MASV CHAR(12)
AS
 BEGIN
--Kiểm tra trong table sinh viên của server hiện tại
 IF EXISTS ( SELECT 1
 FROM dbo.SINHVIEN
 WHERE dbo.SINHVIEN.MASV = @MASV )
 BEGIN
 RETURN 1; -- mã sinh viên tồn tại ở server hiện tại
 END;
--Kiểm tra trong table sinh viên của phân mảnh còn lại
 IF EXISTS ( SELECT 1
 FROM LINK1.QLDSV.dbo.SINHVIEN SV
 WHERE SV.MASV = @MASV )
 BEGIN
 RETURN 1; -- mã sinh viên tồn tại ở server hiện tại
 END;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_CHUYENLOP]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHUYENLOP]
 @MALOP_CU CHAR(8) ,
 @MALOP_MOI CHAR(8) ,
 @MASV_CU CHAR(12) ,
 @MASV_MOI CHAR(12)
AS
 DECLARE @RET1 INT;
 DECLARE @RET2 INT;

 IF ( @MALOP_CU = @MALOP_MOI )
 BEGIN
 RAISERROR ('KHONG DUOC CHUYEN TRONG CUNG 1 LOP ', 16,1);
 RETURN;
 END;
 SET XACT_ABORT ON;
 BEGIN DISTRIBUTED TRANSACTION;
 IF ( EXISTS ( SELECT MALOP FROM dbo.LOP WHERE MALOP = @MALOP_MOI ) 
	AND EXISTS ( SELECT MALOP FROM dbo.LOP WHERE MALOP = @MALOP_CU ))
	 BEGIN
	-- THUC HIEN CHUYEN MASV_MOI DEN LOP MOI
		 EXEC SP_CHUYENSINHVIENVAOLOPMOI @MALOP_CU, @MALOP_MOI, @MASV_MOI, @MASV_CU;
		-- THUC HIEN THAY THOI TRANG THAI VOI MASV_CU TAI LOP CU
		 EXEC @RET1= SP_CHECKSINHVIENCODIEM @MASV_CU;
		 EXEC @RET2= SP_CHECKHOCPHISINHVIEN @MASV_CU;
		 IF ( @RET1 = 1 OR @RET2 = 1)
			 BEGIN 
				UPDATE SINHVIEN SET NGHIHOC = 1 WHERE MASV = @MASV_CU;
			 END;
		 ELSE
			 BEGIN
				DELETE FROM SINHVIEN WHERE MASV = @MASV_CU;
			 END;
	 END;
 ELSE
	 BEGIN
	-- THUC HIEN CHUYEN MASV_MOI DEN LOP MOI
	 EXEC SP_CHUYENSINHVIENVAOLOPMOI @MALOP_CU, @MALOP_MOI, @MASV_MOI, @MASV_CU;
	-- THUC HIEN THAY THOI TRANG THAI VOI MASV_CU TAI LOP CU
		EXEC @RET1= LINK1.QLDSV.dbo.SP_CHECKSINHVIENCODIEM @MASV_CU;
		EXEC @RET2= LINK1.QLDSV.dbo.SP_CHECKHOCPHISINHVIEN @MASV_CU;
		IF ( @RET1 = 1 OR @RET2 = 1)
			BEGIN 
				UPDATE  LINK1.QLDSV.dbo.SINHVIEN SET NGHIHOC = 1 WHERE MASV = @MASV_CU;
			END;
		ELSE
			BEGIN
				DELETE FROM LINK1.QLDSV.dbo.SINHVIEN WHERE MASV = @MASV_CU;
			END;
	 END;
 COMMIT TRANSACTION;
-- NEU TON TAI HOC PHI VA DIEM THI CHUYEN SANG TRANG THAI NGHI HOC
-- NEU KHONG TON TAI THI XOA SINH VIEN CO MASV_CU LUON

GO
/****** Object:  StoredProcedure [dbo].[SP_CHUYENSINHVIENVAOLOPMOI]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHUYENSINHVIENVAOLOPMOI]
 @MALOP_CU CHAR(8) ,
 @MALOP_MOI CHAR(8) ,
 @MASV_MOI CHAR(12) ,
 @MASV_CU CHAR(12)
AS
 BEGIN
	 DECLARE @RET2 INT;
	 DECLARE @RET1 INT;
	-- KIEM TRA SINH VIEN CU CO TON TAI TRONG LOP MOI CHUA SERVER HIEN TAI VA SERVER KHAC
	 EXEC @RET1 = SP_CHECKSINHVIENTONTAITRONGLOP @MALOP_MOI, @MASV_MOI;
	 IF ( @RET1 = 0 )
		 BEGIN
		-- KIEM TRA CO TRUNG MASV CHUYEN LOP HAY KHONG
		 EXEC @RET2= SP_CHECKMASINHVIENCHUYENLOP @MASV_MOI;
		 IF ( @RET2 = 0 )
			 BEGIN
			 DECLARE @PHAI BIT ,@NGAYSINH DATETIME ,@NOISINH NVARCHAR(50) ,@DIACHI NVARCHAR(50) ,
			 @NGHIHOC BIT ,@GHICHU NVARCHAR(50),@HO NVARCHAR(50) ,@TEN NVARCHAR(50);
			--KIEM TRA TON MALOP TAI SERVER HIEN TAI
			 IF ( EXISTS ( SELECT MALOP FROM LOP WHERE MALOP = @MALOP_CU ) )
			-- LAY DUOC THONG TIN SINH VIEN DE INSERT TAI SERVER HIEN TAI
				 BEGIN
					 SELECT @HO = HO ,@TEN = TEN ,@PHAI = PHAI ,@NGAYSINH = NGAYSINH ,
					 @NOISINH = NOISINH ,@DIACHI = DIACHI ,@NGHIHOC = NGHIHOC,@GHICHU = GHICHU
					 FROM SINHVIEN WHERE MASV = @MASV_CU;
				 END;
			 ELSE
			-- LAY DUOC THONG TIN SINH VIEN DE INSERT O SERVER KHAC THEO LINK1
				 BEGIN
					 SELECT @HO = HO ,@TEN = TEN ,@PHAI = PHAI ,@NGAYSINH = NGAYSINH ,@NOISINH = NOISINH ,
					 @DIACHI = DIACHI ,@NGHIHOC = NGHIHOC,@GHICHU = GHICHU
					 FROM LINK1.QLDSV.dbo.SINHVIEN WHERE MASV = @MASV_CU;
				 END;
			-- THEM SINH VIEN MOI VAO TRONG LOP MOI
			 INSERT INTO SINHVIEN ( MASV ,HO ,TEN ,MALOP ,PHAI ,NGAYSINH ,NOISINH ,DIACHI ,NGHIHOC,GHICHU)
			 VALUES ( @MASV_MOI ,@HO ,@TEN ,@MALOP_MOI ,@PHAI ,@NGAYSINH ,@NOISINH ,@DIACHI ,0,@GHICHU);
			 END;
		 END;
	--TON TAI SINH VIEN TRONG LOP SAU CHUYEN NGHI HOC = FALSE
	 ELSE
		 BEGIN
			UPDATE SINHVIEN SET NGHIHOC = 0 WHERE MASV = @MASV_MOI;
		 END;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAP] @LOGINNAME VARCHAR(50)
AS
 BEGIN
 DECLARE @TENUSER NVARCHAR(50);
 SELECT @TENUSER = name
 FROM sys.sysusers
 WHERE sid = SUSER_SID(@LOGINNAME);
 DECLARE @HOTEN NVARCHAR(50);
 IF EXISTS ( SELECT HO + ' ' + TEN
 FROM SINHVIEN
WHERE MASV = @TENUSER )
 SELECT @HOTEN = HO + ' ' + TEN
 FROM SINHVIEN
 WHERE MASV = @TENUSER;
 ELSE
 IF EXISTS ( SELECT HO + ' ' + TEN
 FROM GIANGVIEN
WHERE MAGV = @TENUSER )
 SELECT @HOTEN = HO + ' ' + TEN
 FROM GIANGVIEN
 WHERE MAGV = @TENUSER;
 SELECT USERNAME = @TENUSER ,
 HOTEN = @HOTEN ,
 TENNHOM = name
 FROM sys.sysusers
 WHERE uid = ( SELECT groupuid
 FROM sys.sysmembers
 WHERE memberuid = ( SELECT uid
 FROM sys.sysusers
 WHERE name = @TENUSER
 )
 );
 END;

GO
/****** Object:  StoredProcedure [dbo].[sp_DANHSACHNHAPDIEM]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DANHSACHNHAPDIEM]
 @MALOP CHAR(8) ,
 @MAMH CHAR(6) ,
 @LAN SMALLINT
AS
 BEGIN
 SELECT SV.MASV ,
 SV.HO + ' ' + SV.TEN HOTEN ,
 D.DIEM
 FROM dbo.SINHVIEN SV
 JOIN dbo.DIEM D ON D.MASV = SV.MASV
 WHERE SV.MALOP = @MALOP
 AND D.MAMH = @MAMH
 AND D.LAN = @LAN
 AND SV.NGHIHOC = 0;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_DELETEHOCPHI]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DELETEHOCPHI]
 @MASV CHAR(12) ,
 @NIENKHOA NVARCHAR(50) ,
 @HOCKY INT
AS
 BEGIN
 DELETE dbo.HOCPHI
 WHERE MASV = @MASV
 AND NIENKHOA = @NIENKHOA
 AND HOCKY = @HOCKY;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_DONGHOCPHI_SINHVIEN]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DONGHOCPHI_SINHVIEN]
 @MASV CHAR(12) ,
 @NIENKHOA NVARCHAR(50) ,
 @HOCKY INT ,
 @SOTIENDONG INT
AS
 BEGIN
 INSERT INTO [QLDSV].[dbo].[CT_DONGHOCPHI]
 ( MASV ,
 NIENKHOA ,
 HOCKY ,
 NGAYDONG ,
SOTIENDONG
 )
 VALUES ( @MASV ,
 @NIENKHOA ,
 @HOCKY ,
 GETDATE() ,
 @SOTIENDONG
 );
 END;

GO
/****** Object:  StoredProcedure [dbo].[sp_DSDONGHOCPHILOP]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DSDONGHOCPHILOP]
AS;

GO
/****** Object:  StoredProcedure [dbo].[SP_INDS_HOCPHI]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INDS_HOCPHI] @MASV CHAR(12)
AS
 BEGIN
 SELECT HP.NIENKHOA ,
 HP.HOCKY ,
 HP.HOCPHI ,
 ISNULL(CT.STDD, 0) AS SOTIENDADONG ,
 SOTIENDONG = 0
 FROM ( SELECT MASV ,
 NIENKHOA ,
HOCKY ,
 HOCPHI
 FROM dbo.HOCPHI
 WHERE MASV = @MASV
 ) AS HP
 LEFT JOIN ( SELECT MASV ,
 NIENKHOA ,
HOCKY ,
SUM(SOTIENDONG) AS STDD
 FROM dbo.CT_DONGHOCPHI
 GROUP BY NIENKHOA ,
 HOCKY ,
 MASV
 ) AS CT ON CT.HOCKY = HP.HOCKY
 AND CT.NIENKHOA = HP.NIENKHOA
 AND CT.MASV = HP.MASV;
 END;

GO
/****** Object:  StoredProcedure [dbo].[sp_KHOITAODIEMAOSINHVIEN]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KHOITAODIEMAOSINHVIEN]
 @MASV CHAR(12) ,
 @MAMH CHAR(6) ,
 @LAN SMALLINT
AS
 BEGIN
 IF ( @LAN = 2
 AND EXISTS ( SELECT 1
 FROM DIEM
 WHERE MAMH = @MAMH
 AND MASV = @MASV
 AND LAN = 1
 AND DIEM >= 5 )
 )
 BEGIN
 RETURN;
 END;

 INSERT INTO [QLDSV].[dbo].[DIEM]
 ( MASV, MAMH, LAN, DIEM )
 VALUES ( @MASV, @MAMH, @LAN, 0 );
 END;


GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRADIEMTHEOLAN]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KIEMTRADIEMTHEOLAN]
 @MALOP CHAR(8) ,
 @MAMH CHAR(6) ,
 @LAN SMALLINT
AS
 BEGIN
 IF EXISTS ( SELECT *
 FROM [QLDSV].[dbo].[SINHVIEN] SV
 INNER JOIN [QLDSV].[dbo].[DIEM] D ON SV.MASV = D.MASV
 WHERE MAMH = @MAMH
 AND MALOP = @MALOP
 AND LAN = @LAN )
 BEGIN
 RETURN 2;
 END;
 RETURN 1;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_PHIEUDIEMSV]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_PHIEUDIEMSV] @masv CHAR(12)
AS
 BEGIN
--DECLARE @MASVT char(12)
--SELECT @MASVT = MASV FROM SINHVIEN WHERE MASV = @masv AND NGHIHOC = 'FALSE'
 SELECT MONHOC = ( SELECT TENMH
 FROM MONHOC
WHERE MONHOC.MAMH = DIEM.MAMH
 ) ,
 DIEM = MAX(DIEM)
 FROM DIEM
 WHERE MASV = @masv
 GROUP BY MAMH ,
 MASV;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_BDMH]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REPORT_BDMH]
 @MALOP CHAR(10) ,
 @MAMH CHAR(10) ,
 @LAN SMALLINT
AS
 BEGIN
 SELECT ROW_NUMBER() OVER ( ORDER BY D.DIEM ) STT ,
 HO + ' ' + TEN AS ' HỌ VÀ TÊN ' ,
 DIEM AS 'ĐIỂM'
 FROM [QLDSV].[dbo].[DIEM] D
 INNER JOIN [QLDSV].[dbo].[SINHVIEN] SV ON D.MASV = SV.MASV
 WHERE SV.MALOP = @MALOP AND SV.NGHIHOC = 0
 AND D.MAMH = @MAMH
 AND D.LAN = @LAN;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_BDTK]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REPORT_BDTK] @malop CHAR(8)
AS
 BEGIN
	 SELECT SV.MASV ,HOTEN = SV.HO + ' ' + SV.TEN ,MH.TENMH ,DIEM = MAX(D.DIEM)
	 FROM SINHVIEN AS SV ,DIEM AS D , MONHOC AS MH
	 WHERE SV.MALOP = @malop AND SV.MASV = D.MASV AND D.MAMH = MH.MAMH AND SV.NGHIHOC = 0
	 GROUP BY SV.MASV ,SV.HO , SV.TEN , MH.MAMH , MH.TENMH
	 ORDER BY SV.TEN ASC;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_DSKTM]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REPORT_DSKTM]
 @MALOP CHAR(10) ,
 @MAMH CHAR(10) ,
 @LAN SMALLINT
AS
 BEGIN
 SELECT ROW_NUMBER() OVER ( ORDER BY D.DIEM ) STT ,
 SV.MASV ,
 HO + ' ' + TEN AS ' HỌ VÀ TÊN ' ,
 SOTO = NULL ,
 DIEM AS 'ĐIỂM' ,
 CHUKY = NULL
 FROM [QLDSV].[dbo].[DIEM] D
 INNER JOIN [QLDSV].[dbo].[SINHVIEN] SV ON D.MASV = SV.MASV
 WHERE SV.MALOP = @MALOP
 AND D.MAMH = @MAMH
 AND D.LAN = @LAN AND SV.NGHIHOC = 0;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_DSSV]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REPORT_DSSV] @MALOP CHAR(8)
AS
 BEGIN
 SELECT MASV ,
 HO ,
 TEN ,
 PHAI ,
 NGAYSINH ,
 NOISINH ,
 DIACHI
 FROM SINHVIEN
 WHERE MALOP = @MALOP AND NGHIHOC = 0;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_HOCPHILOP]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REPORT_HOCPHILOP]
 @MALOP CHAR(8) ,
 @NIENKHOA NVARCHAR(50) ,
 @HOCKY INT
AS
 BEGIN
 SELECT ROW_NUMBER() OVER ( ORDER BY HP.HOTEN ) AS STT ,
 HP.HOTEN AS N'HỌ TÊN' ,
 HP.HOCPHI AS N'HỌC PHÍ' ,
 ISNULL(CT.STDD, 0) AS N'SỐ TIỀN ĐÃ ĐÓNG'
 FROM ( SELECT HOTEN ,
 SV.MASV ,
 NIENKHOA ,
HOCKY ,
HOCPHI
 FROM dbo.HOCPHI ,
 ( SELECT MASV ,
 HO + ' ' + TEN AS HOTEN
 FROM dbo.SINHVIEN
 WHERE MALOP = @MALOP
 ) AS SV
 WHERE HOCKY = @HOCKY
 AND SV.MASV = HOCPHI.MASV
 AND NIENKHOA = @NIENKHOA
 ) AS HP
 LEFT JOIN ( SELECT MASV ,
 NIENKHOA ,
HOCKY ,
SUM(SOTIENDONG) AS STDD
 FROM dbo.CT_DONGHOCPHI
 GROUP BY NIENKHOA ,
 HOCKY ,
MASV
 ) AS CT ON CT.HOCKY = HP.HOCKY
 AND CT.MASV = HP.MASV
 AND CT.NIENKHOA = HP.NIENKHOA;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_TAOHOCPHICHOSINHVIEN]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAOHOCPHICHOSINHVIEN]
 @MASV CHAR(12) ,
 @NIENKHOA NVARCHAR(50) ,
 @HOCKY INT ,
 @HOCPHI INT
AS
 BEGIN
 INSERT INTO [QLDSV].[dbo].[HOCPHI]
 ( MASV, NIENKHOA, HOCKY, HOCPHI )
 VALUES ( @MASV, @NIENKHOA, @HOCKY, @HOCPHI );
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAOLOGIN]
 @tendangnhap VARCHAR(50) ,
 @matkhau VARCHAR(50) ,
 @tennguoidung VARCHAR(50) ,
 @phanquyen VARCHAR(50)
AS
 BEGIN
 DECLARE @ketqua INT;
-- Nếu đã bị trùng tên đăng nhập(loginname)
 EXEC @ketqua = sp_addlogin @tendangnhap, @matkhau, 'QLDSV';
 IF @ketqua = 1
 BEGIN
 RAISERROR ('Login name bị trùng', 16,1);
 RETURN 1;
 END;
-- Nếu đã bị trùng tên người dùng(username)
 EXEC @ketqua= sp_grantdbaccess @tendangnhap, @tennguoidung;
 IF @ketqua = 1
 BEGIN
 EXEC sp_droplogin @tendangnhap;
 RAISERROR ('User name bị trùng', 16,2);
 RETURN 2;
 END;
-- Nếu loginname và username thỏa mãn thì thêm 1 quyền phía server cho người dùng
--thuộc nhóm PGV hoặc PKETOAN là securityadmin để có thể tạo tài khoản
 EXEC sp_addrolemember @phanquyen, @tennguoidung;
 IF @phanquyen = 'PGV'
 OR @phanquyen = 'PKT'
 OR @phanquyen = 'KHOA'
 BEGIN
 EXEC sp_addsrvrolemember @tendangnhap, 'securityadmin';
 EXEC sp_addsrvrolemember @tendangnhap, 'DBCREATOR';
 EXEC sp_addsrvrolemember @tendangnhap, 'ProcessAdmin';
 RETURN 0;
 END;
 END;

GO
/****** Object:  StoredProcedure [dbo].[sp_TAOTAIKHOAN]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TAOTAIKHOAN]
 @tendangnhap VARCHAR(50) ,
 @matkhau VARCHAR(50) ,
 @tennguoidung VARCHAR(50) ,
 @phanquyen VARCHAR(50)
AS
 BEGIN
 DECLARE @ketqua INT;
-- Nếu đã bị trùng tên đăng nhập(loginname)
 EXEC @ketqua = sp_addlogin @tendangnhap, @matkhau, 'QLDSV';
 IF @ketqua = 1
 BEGIN
 RAISERROR ('Login name bị trùng', 16,1);
 RETURN 1;
 END;
-- Nếu đã bị trùng tên người dùng(username)
 EXEC @ketqua= sp_grantdbaccess @tendangnhap, @tennguoidung;
 IF @ketqua = 1
 BEGIN
 EXEC sp_droplogin @tendangnhap;
 RAISERROR ('User name bị trùng', 16,2);
 RETURN 2;
 END;
-- Nếu loginname và username thỏa mãn thì thêm 1 quyền phía server cho người dùng
--thuộc nhóm PGV hoặc PKETOAN là securityadmin để có thể tạo tài khoản
 EXEC sp_addrolemember @phanquyen, @tennguoidung;
 IF @phanquyen = 'PGV'
 OR @phanquyen = 'PKT'
 OR @phanquyen = 'KHOA'
 BEGIN
 EXEC sp_addsrvrolemember @tendangnhap, 'securityadmin';
 EXEC sp_addsrvrolemember @tendangnhap, 'DBCREATOR';
 EXEC sp_addsrvrolemember @tendangnhap, 'ProcessAdmin';
 RETURN 0;
 END;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_TimSV]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TimSV] @MASV CHAR(12)
AS
 BEGIN
 IF EXISTS ( SELECT MASV
 FROM dbo.SINHVIEN
 WHERE MASV = @MASV )
 BEGIN
 DECLARE @MALOP VARCHAR(12);
 DECLARE @HO NVARCHAR(40);
 DECLARE @TEN NVARCHAR(10);
 SELECT @MALOP = MALOP ,
 @HO = HO ,
 @TEN = TEN
 FROM SINHVIEN
 WHERE MASV = @MASV;
 SELECT TENLOP = ( SELECT TENLOP
 FROM LOP
WHERE MALOP = @MALOP
 ) ,
 TENKH = ( SELECT TENKH
 FROM dbo.KHOA
 ) ,
 HO = @HO ,
 TEN = @TEN;
 END;

 ELSE
 BEGIN
 IF EXISTS ( SELECT MASV
 FROM LINK1.QLDSV.dbo.SINHVIEN
 WHERE MASV = @MASV )
 SELECT TENLOP ,
 TENKH ,
SV.HO + ' ' + SV.TEN AS N'Họ và tên'
 FROM LINK1.QLDSV.dbo.KHOA KH ,
 LINK1.QLDSV.dbo.LOP L ,
 LINK1.QLDSV.dbo.SINHVIEN SV
 WHERE KH.MAKH = L.MAKH
 AND L.MALOP = SV.MALOP
 AND SV.MASV = @MASV;
 ELSE
 RAISERROR('MA SINH VIEN KHONG TON TAI',16,0);
 END;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_TONG_HOCPHI]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TONG_HOCPHI]
 @MALOP CHAR(8) ,
 @HOCKY INT ,
 @NIENKHOA NVARCHAR(50)
AS
 BEGIN
 DECLARE @totalPrice BIGINT;
 SELECT @totalPrice = SUM(CT.TONGSOTIEN)
 FROM ( SELECT HOCPHI.MASV ,
 NIENKHOA ,
HOCKY
 FROM dbo.HOCPHI ,
 ( SELECT MASV
 FROM dbo.SINHVIEN
 WHERE MALOP = @MALOP
 ) AS SV
 WHERE SV.MASV = HOCPHI.MASV
 AND HOCKY = @HOCKY
 AND NIENKHOA = @NIENKHOA
 ) AS HP
 LEFT JOIN ( SELECT MASV ,
 NIENKHOA ,
HOCKY ,
SUM(SOTIENDONG) AS 'TONGSOTIEN'
 FROM dbo.CT_DONGHOCPHI
 GROUP BY MASV ,
 NIENKHOA ,
HOCKY
 ) AS CT ON CT.HOCKY = HP.HOCKY
 AND CT.MASV = HP.MASV
 AND CT.NIENKHOA = HP.NIENKHOA;
 RETURN @totalPrice;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_TONTAI_CT_HOCPHI]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TONTAI_CT_HOCPHI]
 @MASV CHAR(12) ,
 @NIENKHOA NVARCHAR(50) ,
 @HOCKY INT
AS
 BEGIN
 IF EXISTS ( SELECT MASV
 FROM dbo.CT_DONGHOCPHI
 WHERE MASV = @MASV
 AND HOCKY = @HOCKY
 AND NIENKHOA = @NIENKHOA )
 RETURN 1;
 ELSE
 RETURN 0;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEDIEM]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATEDIEM]
 @MASV CHAR(12) ,
 @MAMH CHAR(6) ,
 @DIEM FLOAT ,
 @LAN SMALLINT
AS
 BEGIN
 UPDATE [QLDSV].[dbo].[DIEM]
 SET DIEM = @DIEM
 WHERE MASV = @MASV
 AND MAMH = @MAMH
 AND LAN = @LAN;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEHOCPHI]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATEHOCPHI]
 @MASV CHAR(12) ,
 @NIENKHOA NVARCHAR(50) ,
 @HOCKY INT ,
 @HOCPHI INT
AS
 BEGIN
 UPDATE dbo.HOCPHI
 SET HOCPHI = @HOCPHI
 WHERE MASV = @MASV
 AND HOCKY = @HOCKY
 AND NIENKHOA = @NIENKHOA;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_XOADIEMKHONGLUU]    Script Date: 12/26/2020 8:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_XOADIEMKHONGLUU]
 @MASV CHAR(12) ,
 @MAMH CHAR(6) ,
 @LAN SMALLINT
AS
 BEGIN
 DELETE FROM DIEM
 WHERE MASV = @MASV
 AND MAMH = @MAMH
 AND LAN = @LAN
 AND DIEM = 0;
 END;

GO
USE [master]
GO
