USE [QLDSV]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKHOCPHISINHVIEN]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKHOCPHISINHVIEN] @MASV CHAR(12)
AS
 BEGIN
--Kiểm tra trong table sinh viên của server 2
 IF EXISTS ( SELECT 1
 FROM LINK2.QLDSV.dbo.HOCPHI HP
 WHERE HP.MASV = @MASV )
 BEGIN
 RETURN 1; -- mã sinh viên tồn tại ở server 2
 END;
 RETURN 0;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKMASINHVIENCHUYENLOP]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKMASINHVIENCHUYENLOP] @MASV CHAR(12)
AS
 BEGIN
 IF ( EXISTS ( SELECT MASV
 FROM SINHVIEN
WHERE MASV = @MASV ) )
 BEGIN
 RAISERROR ('MA SINH VIEN DA BI TRUNG', 16,1);
 RETURN;
 END;
 ELSE
 IF ( EXISTS ( SELECT MASV
 FROM LINK1.QLDSV.dbo.SINHVIEN
 WHERE MASV = @MASV ) )
 BEGIN
 RAISERROR ('MA SINH VIEN DA BI TRUNG ', 16,1);
 RETURN;
 END;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKSINHVIENCODIEM]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKSINHVIENCODIEM] @MASV CHAR(12)
AS
 BEGIN
 IF EXISTS ( SELECT MASV
 FROM dbo.DIEM
 WHERE MASV = @MASV )
 RETURN 1;
 ELSE
 IF EXISTS ( SELECT D.DIEM
 FROM LINK1.QLDSV.dbo.DIEM D
 WHERE D.MASV = @MASV )
 RETURN 1;
 ELSE
 RETURN 0;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKSINHVIENTONTAITRONGLOP]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKSINHVIENTONTAITRONGLOP]
 @MALOP CHAR(8) ,@MASV CHAR(12)
AS
	 BEGIN
	 IF ( EXISTS ( SELECT MASV FROM SINHVIEN WHERE MALOP = @MALOP AND MASV = @MASV AND NGHIHOC = 1 ) )
		RETURN 1;
	 ELSE
		 IF ( EXISTS ( SELECT MASV FROM LINK1.QLDSV.dbo.SINHVIEN WHERE MALOP = @MALOP AND MASV = @MASV AND NGHIHOC = 1 ) )
			RETURN 1;
		 ELSE
			RETURN 0;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKTHAYDOISINHVIENCHUYENLOP]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKTHAYDOISINHVIENCHUYENLOP] @MASV NVARCHAR(50)
AS
 BEGIN
 DECLARE @RET1 INT;
 DECLARE @RET2 INT;
 EXEC @RET1= SP_CHECKSINHVIENCODIEM @MASV;
 EXEC @RET2= SP_CHECKHOCPHISINHVIEN @MASV;
 IF ( @RET1 = 1
 OR @RET2 = 1
 )
 BEGIN
 UPDATE SINHVIEN
 SET NGHIHOC = 1
 WHERE MASV = @MASV;
 END;
 ELSE
 BEGIN
 DELETE FROM SINHVIEN
 WHERE MASV = @MASV;
 END;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKTRUNGMALOP]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKTRUNGMALOP]
 @MALOP CHAR(8) ,
 @TENLOP NVARCHAR(50)
AS
 BEGIN
 IF EXISTS ( SELECT *
 FROM dbo.LOP
 WHERE dbo.LOP.MALOP = @MALOP
 OR LOP.TENLOP = @TENLOP )
 BEGIN
 RETURN 1;
 END;
 IF EXISTS ( SELECT *
 FROM LINK1.QLDSV.dbo.LOP
 WHERE LOP.MALOP = @MALOP
 OR LOP.TENLOP = @TENLOP )
 BEGIN
 RETURN 1;
 END;
 RETURN 0;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKTRUNGMASV]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKTRUNGMASV] @MASV CHAR(12)
AS
 BEGIN
--Kiểm tra trong table sinh viên của server hiện tại
 IF EXISTS ( SELECT 1
 FROM dbo.SINHVIEN
 WHERE dbo.SINHVIEN.MASV = @MASV )
 BEGIN
 RETURN 1; -- mã sinh viên tồn tại ở server hiện tại
 END;
--Kiểm tra trong table sinh viên của phân mảnh còn lại
 IF EXISTS ( SELECT 1
 FROM LINK1.QLDSV.dbo.SINHVIEN SV
 WHERE SV.MASV = @MASV )
 BEGIN
 RETURN 1; -- mã sinh viên tồn tại ở server hiện tại
 END;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_CHUYENLOP]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHUYENLOP]
 @MALOP_CU CHAR(8) ,
 @MALOP_MOI CHAR(8) ,
 @MASV_CU CHAR(12) ,
 @MASV_MOI CHAR(12)
AS
 DECLARE @RET1 INT;
 DECLARE @RET2 INT;

 IF ( @MALOP_CU = @MALOP_MOI )
 BEGIN
 RAISERROR ('KHONG DUOC CHUYEN TRONG CUNG 1 LOP ', 16,1);
 RETURN;
 END;
 SET XACT_ABORT ON;
 BEGIN DISTRIBUTED TRANSACTION;
 IF ( EXISTS ( SELECT MALOP FROM dbo.LOP WHERE MALOP = @MALOP_MOI ) 
	AND EXISTS ( SELECT MALOP FROM dbo.LOP WHERE MALOP = @MALOP_CU ))
	 BEGIN
	-- THUC HIEN CHUYEN MASV_MOI DEN LOP MOI
		 EXEC SP_CHUYENSINHVIENVAOLOPMOI @MALOP_CU, @MALOP_MOI, @MASV_MOI, @MASV_CU;
		-- THUC HIEN THAY THOI TRANG THAI VOI MASV_CU TAI LOP CU
		 EXEC @RET1= SP_CHECKSINHVIENCODIEM @MASV_CU;
		 EXEC @RET2= SP_CHECKHOCPHISINHVIEN @MASV_CU;
		 IF ( @RET1 = 1 OR @RET2 = 1)
			 BEGIN 
				UPDATE SINHVIEN SET NGHIHOC = 1 WHERE MASV = @MASV_CU;
			 END;
		 ELSE
			 BEGIN
				DELETE FROM SINHVIEN WHERE MASV = @MASV_CU;
			 END;
	 END;
 ELSE
	 BEGIN
	-- THUC HIEN CHUYEN MASV_MOI DEN LOP MOI
	 EXEC SP_CHUYENSINHVIENVAOLOPMOI @MALOP_CU, @MALOP_MOI, @MASV_MOI, @MASV_CU;
	-- THUC HIEN THAY THOI TRANG THAI VOI MASV_CU TAI LOP CU
		EXEC @RET1= LINK1.QLDSV.dbo.SP_CHECKSINHVIENCODIEM @MASV_CU;
		EXEC @RET2= LINK1.QLDSV.dbo.SP_CHECKHOCPHISINHVIEN @MASV_CU;
		IF ( @RET1 = 1 OR @RET2 = 1)
			BEGIN 
				UPDATE  LINK1.QLDSV.dbo.SINHVIEN SET NGHIHOC = 1 WHERE MASV = @MASV_CU;
			END;
		ELSE
			BEGIN
				DELETE FROM LINK1.QLDSV.dbo.SINHVIEN WHERE MASV = @MASV_CU;
			END;
	 END;
 COMMIT TRANSACTION;
-- NEU TON TAI HOC PHI VA DIEM THI CHUYEN SANG TRANG THAI NGHI HOC
-- NEU KHONG TON TAI THI XOA SINH VIEN CO MASV_CU LUON

GO
/****** Object:  StoredProcedure [dbo].[SP_CHUYENSINHVIENVAOLOPMOI]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHUYENSINHVIENVAOLOPMOI]
 @MALOP_CU CHAR(8) ,
 @MALOP_MOI CHAR(8) ,
 @MASV_MOI CHAR(12) ,
 @MASV_CU CHAR(12)
AS
 BEGIN
	 DECLARE @RET2 INT;
	 DECLARE @RET1 INT;
	-- KIEM TRA SINH VIEN CU CO TON TAI TRONG LOP MOI CHUA SERVER HIEN TAI VA SERVER KHAC
	 EXEC @RET1 = SP_CHECKSINHVIENTONTAITRONGLOP @MALOP_MOI, @MASV_MOI;
	 IF ( @RET1 = 0 )
		 BEGIN
		-- KIEM TRA CO TRUNG MASV CHUYEN LOP HAY KHONG
		 EXEC @RET2= SP_CHECKMASINHVIENCHUYENLOP @MASV_MOI;
		 IF ( @RET2 = 0 )
			 BEGIN
			 DECLARE @PHAI BIT ,@NGAYSINH DATETIME ,@NOISINH NVARCHAR(50) ,@DIACHI NVARCHAR(50) ,
			 @NGHIHOC BIT ,@GHICHU NVARCHAR(50),@HO NVARCHAR(50) ,@TEN NVARCHAR(50);
			--KIEM TRA TON MALOP TAI SERVER HIEN TAI
			 IF ( EXISTS ( SELECT MALOP FROM LOP WHERE MALOP = @MALOP_CU ) )
			-- LAY DUOC THONG TIN SINH VIEN DE INSERT TAI SERVER HIEN TAI
				 BEGIN
					 SELECT @HO = HO ,@TEN = TEN ,@PHAI = PHAI ,@NGAYSINH = NGAYSINH ,
					 @NOISINH = NOISINH ,@DIACHI = DIACHI ,@NGHIHOC = NGHIHOC,@GHICHU = GHICHU
					 FROM SINHVIEN WHERE MASV = @MASV_CU;
				 END;
			 ELSE
			-- LAY DUOC THONG TIN SINH VIEN DE INSERT O SERVER KHAC THEO LINK1
				 BEGIN
					 SELECT @HO = HO ,@TEN = TEN ,@PHAI = PHAI ,@NGAYSINH = NGAYSINH ,@NOISINH = NOISINH ,
					 @DIACHI = DIACHI ,@NGHIHOC = NGHIHOC,@GHICHU = GHICHU
					 FROM LINK1.QLDSV.dbo.SINHVIEN WHERE MASV = @MASV_CU;
				 END;
			-- THEM SINH VIEN MOI VAO TRONG LOP MOI
			 INSERT INTO SINHVIEN ( MASV ,HO ,TEN ,MALOP ,PHAI ,NGAYSINH ,NOISINH ,DIACHI ,NGHIHOC,GHICHU)
			 VALUES ( @MASV_MOI ,@HO ,@TEN ,@MALOP_MOI ,@PHAI ,@NGAYSINH ,@NOISINH ,@DIACHI ,0,@GHICHU);
			 END;
		 END;
	--TON TAI SINH VIEN TRONG LOP SAU CHUYEN NGHI HOC = FALSE
	 ELSE
		 BEGIN
			UPDATE SINHVIEN SET NGHIHOC = 0 WHERE MASV = @MASV_MOI;
		 END;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAP] @LOGINNAME VARCHAR(50)
AS
 BEGIN
 DECLARE @TENUSER NVARCHAR(50);
 SELECT @TENUSER = name
 FROM sys.sysusers
 WHERE sid = SUSER_SID(@LOGINNAME);
 DECLARE @HOTEN NVARCHAR(50);
 IF EXISTS ( SELECT HO + ' ' + TEN
 FROM SINHVIEN
WHERE MASV = @TENUSER )
 SELECT @HOTEN = HO + ' ' + TEN
 FROM SINHVIEN
 WHERE MASV = @TENUSER;
 ELSE
 IF EXISTS ( SELECT HO + ' ' + TEN
 FROM GIANGVIEN
WHERE MAGV = @TENUSER )
 SELECT @HOTEN = HO + ' ' + TEN
 FROM GIANGVIEN
 WHERE MAGV = @TENUSER;
 SELECT USERNAME = @TENUSER ,
 HOTEN = @HOTEN ,
 TENNHOM = name
 FROM sys.sysusers
 WHERE uid = ( SELECT groupuid
 FROM sys.sysmembers
 WHERE memberuid = ( SELECT uid
 FROM sys.sysusers
 WHERE name = @TENUSER
 )
 );
 END;

GO
/****** Object:  StoredProcedure [dbo].[sp_DANHSACHNHAPDIEM]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DANHSACHNHAPDIEM]
 @MALOP CHAR(8) ,
 @MAMH CHAR(6) ,
 @LAN SMALLINT
AS
 BEGIN
 SELECT SV.MASV ,
 SV.HO + ' ' + SV.TEN HOTEN ,
 D.DIEM
 FROM dbo.SINHVIEN SV
 JOIN dbo.DIEM D ON D.MASV = SV.MASV
 WHERE SV.MALOP = @MALOP
 AND D.MAMH = @MAMH
 AND D.LAN = @LAN
 AND SV.NGHIHOC = 0;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_DELETEHOCPHI]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DELETEHOCPHI]
 @MASV CHAR(12) ,
 @NIENKHOA NVARCHAR(50) ,
 @HOCKY INT
AS
 BEGIN
 DELETE dbo.HOCPHI
 WHERE MASV = @MASV
 AND NIENKHOA = @NIENKHOA
 AND HOCKY = @HOCKY;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_DONGHOCPHI_SINHVIEN]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DONGHOCPHI_SINHVIEN]
 @MASV CHAR(12) ,
 @NIENKHOA NVARCHAR(50) ,
 @HOCKY INT ,
 @SOTIENDONG INT
AS
 BEGIN
 INSERT INTO [QLDSV].[dbo].[CT_DONGHOCPHI]
 ( MASV ,
 NIENKHOA ,
 HOCKY ,
 NGAYDONG ,
SOTIENDONG
 )
 VALUES ( @MASV ,
 @NIENKHOA ,
 @HOCKY ,
 GETDATE() ,
 @SOTIENDONG
 );
 END;

GO
/****** Object:  StoredProcedure [dbo].[sp_DSDONGHOCPHILOP]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DSDONGHOCPHILOP]
AS;

GO
/****** Object:  StoredProcedure [dbo].[SP_INDS_HOCPHI]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INDS_HOCPHI] @MASV CHAR(12)
AS
 BEGIN
 SELECT HP.NIENKHOA ,
 HP.HOCKY ,
 HP.HOCPHI ,
 ISNULL(CT.STDD, 0) AS SOTIENDADONG ,
 SOTIENDONG = 0
 FROM ( SELECT MASV ,
 NIENKHOA ,
HOCKY ,
 HOCPHI
 FROM dbo.HOCPHI
 WHERE MASV = @MASV
 ) AS HP
 LEFT JOIN ( SELECT MASV ,
 NIENKHOA ,
HOCKY ,
SUM(SOTIENDONG) AS STDD
 FROM dbo.CT_DONGHOCPHI
 GROUP BY NIENKHOA ,
 HOCKY ,
 MASV
 ) AS CT ON CT.HOCKY = HP.HOCKY
 AND CT.NIENKHOA = HP.NIENKHOA
 AND CT.MASV = HP.MASV;
 END;

GO
/****** Object:  StoredProcedure [dbo].[sp_KHOITAODIEMAOSINHVIEN]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KHOITAODIEMAOSINHVIEN]
 @MASV CHAR(12) ,
 @MAMH CHAR(6) ,
 @LAN SMALLINT
AS
 BEGIN
 IF ( @LAN = 2
 AND EXISTS ( SELECT 1
 FROM DIEM
 WHERE MAMH = @MAMH
 AND MASV = @MASV
 AND LAN = 1
 AND DIEM >= 5 )
 )
 BEGIN
 RETURN;
 END;

 INSERT INTO [QLDSV].[dbo].[DIEM]
 ( MASV, MAMH, LAN, DIEM )
 VALUES ( @MASV, @MAMH, @LAN, 0 );
 END;


GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRADIEMTHEOLAN]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KIEMTRADIEMTHEOLAN]
 @MALOP CHAR(8) ,
 @MAMH CHAR(6) ,
 @LAN SMALLINT
AS
 BEGIN
 IF EXISTS ( SELECT *
 FROM [QLDSV].[dbo].[SINHVIEN] SV
 INNER JOIN [QLDSV].[dbo].[DIEM] D ON SV.MASV = D.MASV
 WHERE MAMH = @MAMH
 AND MALOP = @MALOP
 AND LAN = @LAN )
 BEGIN
 RETURN 2;
 END;
 RETURN 1;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_PHIEUDIEMSV]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_PHIEUDIEMSV] @masv CHAR(12)
AS
 BEGIN
--DECLARE @MASVT char(12)
--SELECT @MASVT = MASV FROM SINHVIEN WHERE MASV = @masv AND NGHIHOC = 'FALSE'
 SELECT MONHOC = ( SELECT TENMH
 FROM MONHOC
WHERE MONHOC.MAMH = DIEM.MAMH
 ) ,
 DIEM = MAX(DIEM)
 FROM DIEM
 WHERE MASV = @masv
 GROUP BY MAMH ,
 MASV;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_BDMH]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REPORT_BDMH]
 @MALOP CHAR(10) ,
 @MAMH CHAR(10) ,
 @LAN SMALLINT
AS
 BEGIN
 SELECT ROW_NUMBER() OVER ( ORDER BY D.DIEM ) STT ,
 HO + ' ' + TEN AS ' HỌ VÀ TÊN ' ,
 DIEM AS 'ĐIỂM'
 FROM [QLDSV].[dbo].[DIEM] D
 INNER JOIN [QLDSV].[dbo].[SINHVIEN] SV ON D.MASV = SV.MASV
 WHERE SV.MALOP = @MALOP AND SV.NGHIHOC = 0
 AND D.MAMH = @MAMH
 AND D.LAN = @LAN;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_BDTK]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REPORT_BDTK] @malop CHAR(8)
AS
 BEGIN
	 SELECT SV.MASV ,HOTEN = SV.HO + ' ' + SV.TEN ,MH.TENMH ,DIEM = MAX(D.DIEM)
	 FROM SINHVIEN AS SV ,DIEM AS D , MONHOC AS MH
	 WHERE SV.MALOP = @malop AND SV.MASV = D.MASV AND D.MAMH = MH.MAMH AND SV.NGHIHOC = 0
	 GROUP BY SV.MASV ,SV.HO , SV.TEN , MH.MAMH , MH.TENMH
	 ORDER BY SV.TEN ASC;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_DSKTM]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REPORT_DSKTM]
 @MALOP CHAR(10) ,
 @MAMH CHAR(10) ,
 @LAN SMALLINT
AS
 BEGIN
 SELECT ROW_NUMBER() OVER ( ORDER BY D.DIEM ) STT ,
 SV.MASV ,
 HO + ' ' + TEN AS ' HỌ VÀ TÊN ' ,
 SOTO = NULL ,
 DIEM AS 'ĐIỂM' ,
 CHUKY = NULL
 FROM [QLDSV].[dbo].[DIEM] D
 INNER JOIN [QLDSV].[dbo].[SINHVIEN] SV ON D.MASV = SV.MASV
 WHERE SV.MALOP = @MALOP
 AND D.MAMH = @MAMH
 AND D.LAN = @LAN AND SV.NGHIHOC = 0;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_DSSV]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REPORT_DSSV] @MALOP CHAR(8)
AS
 BEGIN
 SELECT MASV ,
 HO ,
 TEN ,
 PHAI ,
 NGAYSINH ,
 NOISINH ,
 DIACHI
 FROM SINHVIEN
 WHERE MALOP = @MALOP AND NGHIHOC = 0;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_HOCPHILOP]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REPORT_HOCPHILOP]
 @MALOP CHAR(8) ,
 @NIENKHOA NVARCHAR(50) ,
 @HOCKY INT
AS
 BEGIN
 SELECT ROW_NUMBER() OVER ( ORDER BY HP.HOTEN ) AS STT ,
 HP.HOTEN AS N'HỌ TÊN' ,
 HP.HOCPHI AS N'HỌC PHÍ' ,
 ISNULL(CT.STDD, 0) AS N'SỐ TIỀN ĐÃ ĐÓNG'
 FROM ( SELECT HOTEN ,
 SV.MASV ,
 NIENKHOA ,
HOCKY ,
HOCPHI
 FROM dbo.HOCPHI ,
 ( SELECT MASV ,
 HO + ' ' + TEN AS HOTEN
 FROM dbo.SINHVIEN
 WHERE MALOP = @MALOP
 ) AS SV
 WHERE HOCKY = @HOCKY
 AND SV.MASV = HOCPHI.MASV
 AND NIENKHOA = @NIENKHOA
 ) AS HP
 LEFT JOIN ( SELECT MASV ,
 NIENKHOA ,
HOCKY ,
SUM(SOTIENDONG) AS STDD
 FROM dbo.CT_DONGHOCPHI
 GROUP BY NIENKHOA ,
 HOCKY ,
MASV
 ) AS CT ON CT.HOCKY = HP.HOCKY
 AND CT.MASV = HP.MASV
 AND CT.NIENKHOA = HP.NIENKHOA;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_TAOHOCPHICHOSINHVIEN]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAOHOCPHICHOSINHVIEN]
 @MASV CHAR(12) ,
 @NIENKHOA NVARCHAR(50) ,
 @HOCKY INT ,
 @HOCPHI INT
AS
 BEGIN
 INSERT INTO [QLDSV].[dbo].[HOCPHI]
 ( MASV, NIENKHOA, HOCKY, HOCPHI )
 VALUES ( @MASV, @NIENKHOA, @HOCKY, @HOCPHI );
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAOLOGIN]
 @tendangnhap VARCHAR(50) ,
 @matkhau VARCHAR(50) ,
 @tennguoidung VARCHAR(50) ,
 @phanquyen VARCHAR(50)
AS
 BEGIN
 DECLARE @ketqua INT;
-- Nếu đã bị trùng tên đăng nhập(loginname)
 EXEC @ketqua = sp_addlogin @tendangnhap, @matkhau, 'QLDSV';
 IF @ketqua = 1
 BEGIN
 RAISERROR ('Login name bị trùng', 16,1);
 RETURN 1;
 END;
-- Nếu đã bị trùng tên người dùng(username)
 EXEC @ketqua= sp_grantdbaccess @tendangnhap, @tennguoidung;
 IF @ketqua = 1
 BEGIN
 EXEC sp_droplogin @tendangnhap;
 RAISERROR ('User name bị trùng', 16,2);
 RETURN 2;
 END;
-- Nếu loginname và username thỏa mãn thì thêm 1 quyền phía server cho người dùng
--thuộc nhóm PGV hoặc PKETOAN là securityadmin để có thể tạo tài khoản
 EXEC sp_addrolemember @phanquyen, @tennguoidung;
 IF @phanquyen = 'PGV'
 OR @phanquyen = 'PKT'
 OR @phanquyen = 'KHOA'
 BEGIN
 EXEC sp_addsrvrolemember @tendangnhap, 'securityadmin';
 EXEC sp_addsrvrolemember @tendangnhap, 'DBCREATOR';
 EXEC sp_addsrvrolemember @tendangnhap, 'ProcessAdmin';
 RETURN 0;
 END;
 END;

GO
/****** Object:  StoredProcedure [dbo].[sp_TAOTAIKHOAN]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TAOTAIKHOAN]
 @tendangnhap VARCHAR(50) ,
 @matkhau VARCHAR(50) ,
 @tennguoidung VARCHAR(50) ,
 @phanquyen VARCHAR(50)
AS
 BEGIN
 DECLARE @ketqua INT;
-- Nếu đã bị trùng tên đăng nhập(loginname)
 EXEC @ketqua = sp_addlogin @tendangnhap, @matkhau, 'QLDSV';
 IF @ketqua = 1
 BEGIN
 RAISERROR ('Login name bị trùng', 16,1);
 RETURN 1;
 END;
-- Nếu đã bị trùng tên người dùng(username)
 EXEC @ketqua= sp_grantdbaccess @tendangnhap, @tennguoidung;
 IF @ketqua = 1
 BEGIN
 EXEC sp_droplogin @tendangnhap;
 RAISERROR ('User name bị trùng', 16,2);
 RETURN 2;
 END;
-- Nếu loginname và username thỏa mãn thì thêm 1 quyền phía server cho người dùng
--thuộc nhóm PGV hoặc PKETOAN là securityadmin để có thể tạo tài khoản
 EXEC sp_addrolemember @phanquyen, @tennguoidung;
 IF @phanquyen = 'PGV'
 OR @phanquyen = 'PKT'
 OR @phanquyen = 'KHOA'
 BEGIN
 EXEC sp_addsrvrolemember @tendangnhap, 'securityadmin';
 EXEC sp_addsrvrolemember @tendangnhap, 'DBCREATOR';
 EXEC sp_addsrvrolemember @tendangnhap, 'ProcessAdmin';
 RETURN 0;
 END;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_TimSV]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TimSV] @MASV CHAR(12)
AS
 BEGIN
 IF EXISTS ( SELECT MASV
 FROM dbo.SINHVIEN
 WHERE MASV = @MASV )
 BEGIN
 DECLARE @MALOP VARCHAR(12);
 DECLARE @HO NVARCHAR(40);
 DECLARE @TEN NVARCHAR(10);
 SELECT @MALOP = MALOP ,
 @HO = HO ,
 @TEN = TEN
 FROM SINHVIEN
 WHERE MASV = @MASV;
 SELECT TENLOP = ( SELECT TENLOP
 FROM LOP
WHERE MALOP = @MALOP
 ) ,
 TENKH = ( SELECT TENKH
 FROM dbo.KHOA
 ) ,
 HO = @HO ,
 TEN = @TEN;
 END;

 ELSE
 BEGIN
 IF EXISTS ( SELECT MASV
 FROM LINK1.QLDSV.dbo.SINHVIEN
 WHERE MASV = @MASV )
 SELECT TENLOP ,
 TENKH ,
SV.HO + ' ' + SV.TEN AS N'Họ và tên'
 FROM LINK1.QLDSV.dbo.KHOA KH ,
 LINK1.QLDSV.dbo.LOP L ,
 LINK1.QLDSV.dbo.SINHVIEN SV
 WHERE KH.MAKH = L.MAKH
 AND L.MALOP = SV.MALOP
 AND SV.MASV = @MASV;
 ELSE
 RAISERROR('MA SINH VIEN KHONG TON TAI',16,0);
 END;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_TONG_HOCPHI]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TONG_HOCPHI]
 @MALOP CHAR(8) ,
 @HOCKY INT ,
 @NIENKHOA NVARCHAR(50)
AS
 BEGIN
 DECLARE @totalPrice BIGINT;
 SELECT @totalPrice = SUM(CT.TONGSOTIEN)
 FROM ( SELECT HOCPHI.MASV ,
 NIENKHOA ,
HOCKY
 FROM dbo.HOCPHI ,
 ( SELECT MASV
 FROM dbo.SINHVIEN
 WHERE MALOP = @MALOP
 ) AS SV
 WHERE SV.MASV = HOCPHI.MASV
 AND HOCKY = @HOCKY
 AND NIENKHOA = @NIENKHOA
 ) AS HP
 LEFT JOIN ( SELECT MASV ,
 NIENKHOA ,
HOCKY ,
SUM(SOTIENDONG) AS 'TONGSOTIEN'
 FROM dbo.CT_DONGHOCPHI
 GROUP BY MASV ,
 NIENKHOA ,
HOCKY
 ) AS CT ON CT.HOCKY = HP.HOCKY
 AND CT.MASV = HP.MASV
 AND CT.NIENKHOA = HP.NIENKHOA;
 RETURN @totalPrice;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_TONTAI_CT_HOCPHI]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TONTAI_CT_HOCPHI]
 @MASV CHAR(12) ,
 @NIENKHOA NVARCHAR(50) ,
 @HOCKY INT
AS
 BEGIN
 IF EXISTS ( SELECT MASV
 FROM dbo.CT_DONGHOCPHI
 WHERE MASV = @MASV
 AND HOCKY = @HOCKY
 AND NIENKHOA = @NIENKHOA )
 RETURN 1;
 ELSE
 RETURN 0;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEDIEM]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATEDIEM]
 @MASV CHAR(12) ,
 @MAMH CHAR(6) ,
 @DIEM FLOAT ,
 @LAN SMALLINT
AS
 BEGIN
 UPDATE [QLDSV].[dbo].[DIEM]
 SET DIEM = @DIEM
 WHERE MASV = @MASV
 AND MAMH = @MAMH
 AND LAN = @LAN;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEHOCPHI]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATEHOCPHI]
 @MASV CHAR(12) ,
 @NIENKHOA NVARCHAR(50) ,
 @HOCKY INT ,
 @HOCPHI INT
AS
 BEGIN
 UPDATE dbo.HOCPHI
 SET HOCPHI = @HOCPHI
 WHERE MASV = @MASV
 AND HOCKY = @HOCKY
 AND NIENKHOA = @NIENKHOA;
 END;

GO
/****** Object:  StoredProcedure [dbo].[SP_XOADIEMKHONGLUU]    Script Date: 12/26/2020 3:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_XOADIEMKHONGLUU]
 @MASV CHAR(12) ,
 @MAMH CHAR(6) ,
 @LAN SMALLINT
AS
 BEGIN
 DELETE FROM DIEM
 WHERE MASV = @MASV
 AND MAMH = @MAMH
 AND LAN = @LAN
 AND DIEM = 0;
 END;

GO
