<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLDSV_PT.Properties.Settings.QLDSVConnectionString"
            connectionString="Data Source=DESKTOP-Q470HD2;Initial Catalog=QLDSV;User ID=sa;Password=2304"
            providerName="System.Data.SqlClient" />
        <add name="QLDSVConnectionString" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-Q470HD2;user id=;password=;initial catalog=QLDSV;Persist Security Info=true" />
    </connectionStrings>
</configuration>